html{
    margin: 0;
    padding: 0;
    height: 100vh; 
}

body{
    background-image: radial-gradient(#111, #eee);
    background-repeat: no-repeat;
    margin: 0;
    padding: 140px 0 0 0;
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
  
}

header{
    position: fixed;
    top: 10px;
    left: 10px;
}

ul.info{
    margin: 10px;
    padding: 0;
    list-style-type: none;
    color: #222;
    font-weight: bold;
    height: 100px;
    overflow: hidden; 
    transition: height 1s;
}
ul.info.hide{
    height: 0px;
    transition: height 1s;
}

ul.info li{
    padding: 3px 0;
}

.container{
    width: 700px;
    height: 450px;
    margin: 0 auto;
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #ddd;
}

.container #part1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container #part2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#reset{
    position: absolute;
    border: 2px solid #444;
    text-align: center;
    color: #444;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100px;
    left: calc(50% - 100px/2);
    top: 80%;
    cursor: pointer;
}

#score{
    border: 2px solid #444;
    color: #444;
    font-size: 46px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    width: 140px;
    height: 100px;;
    left: calc(50% - 140px/2);
    top: calc(50% - 100px/2);
    display: flex;
    align-items: center;
    justify-content: center;
}

#num{
    position: absolute;
    text-align: center;
    width: 80%;
    left: 10%;
    top: 5%;
    color: #444;
    font-size: 16px;
    font-weight: bold;
}

#number{
    font-size: 20px;
    font-weight: 800;
}

.player1{
    background-color: #aaa;
    color:#222;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    width: 140px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.player2{
    background-color: #aaa;
    color:#222;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    width: 140px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-user{
    color: #444;
    font-size: 30px;
}

.icon-menu{
    color: #444;
    font-size: 30px;
}

.winner{
    color: #cc3333;
    font-weight: bold;
}

.winner .icon-user{
   display: none;
}

.nonActive{
    pointer-events: none;
    background-color: white;
}

footer{
    color: #222;
    background-color: #aaa;
    text-align: center;
    font-weight: bold;
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}